body { padding: 0; margin: 0; font-family: Tahoma; }
div,table,tr,td,img { padding: 0; border: 0; border-collapse: collapse; }
form { padding: 0; margin: 0; border-collapse: collapse; border:0; }
iframe { padding: 0; margin: 0; border-collapse: collapse; border:solid 1px black; display:block }

ol,ul { margin-top: 5px; margin-bottom: 0; }
ol ol,ul ul, ol ul, ul ol { margin-top: 0px; }

li { margin-top: 2px; font-size: 13px }
pre { font-size: 13px; margin: 0 }
dt { font-size: 13px; font-weight: bold }
dd { font-size: 13px; margin: 4px 0 4px 40px }
.table th, .table td { font-size: 13px; border: solid 1px #666; padding: 4px 10px; text-align: left }

select { font: normal 13px Tahoma; height: 20px; }
p, span, label { font-size: 16px; color: #000; }

a, span.link { text-decoration: none; cursor:pointer; font-size: 16px; color: #E38800; }
a:hover, span.link:hover { text-decoration: underline; }  

td { vertical-align: top; }

p { text-align: left; margin: 10px 0; color: #666; }

code { font: 16px "Lucida Console", Monaco, monospace; color: #444; background-color: #eee; padding: 2px 4px; overflow: auto }
pre code { padding: 10px 20px; display: block; border: solid 1px #aaa; font-size: 15px }
h2 code { display:inline-block; margin-bottom:5px; font-size: 12px }

hr { margin: 15px 0; }

.clearfix { clear:both }

small a { font-size: 14px }

.wrapper { width: 1000px; margin: 0 auto; }

.main { margin-top: 35px }

.mainMenu
{
	text-align: right;
	background-color: #0094ff;
	padding-top: 6px;
	padding-bottom: 9px;
}
.mainMenu a
{
	font-weight: bold;
	font-size: 20px;
	color: #fff;
	text-decoration: none;
	margin-left: 40px;
}
.mainMenu a:hover
{
	border-bottom: solid 2px #fff;
}

.mainContent img.logo
{
	float: left;
	margin-right: 25px;
}

.mainSub { width:260px; padding-left:20px }
.mainSub p { margin:0 }
.mainSub ul ul { padding-left:20px }
.mainSub li li { font-size:15px }

.about { margin-bottom:26px; }

.about h1
{
	color: #0094ff;
	margin-top: -5px;
	margin-bottom: 5px;
	font-size: 18px;
}

.about p, .about a { font-size:17px }

.about p
{
	margin: 0;
	color: #666;
}

h1
{
	color: #0094ff;
}

h2
{
	color: #0094ff;
	font-weight: normal;
	font-size: 21px;
	margin-bottom: 5px;
}

h3
{
	color: #666;
	font-weight: normal;
	font-size: 18px;
	margin-top: 5px;
	margin-bottom: 5px;
}

li
{
	color: #666;
	font-size: 16px;
}

.footer
{
	background-color: #777;
	padding-top: 10px;
	padding-bottom: 10px;
}

.footer p, .footer a
{
	font-size:14px;
	color: #fff;
}
.footer p { display: inline-block; padding: 0 20px }

.markdown
{
	color: #666;
}

.markdown img[align=left]
{
    margin-bottom: 5px;
    margin-right: 30px;
    margin-top: 5px;
}

.markdown img[align=right]
{
    margin-bottom: 5px;
    margin-left: 30px;
    margin-top: 5px;
}

.markdown .spoiler
{
	background-color: #eee;
	padding: 5px 10px;
	border: solid 1px #666;
	margin: 15px 0;
	clear: both;
	overflow: hidden;
	font-size: 14px;
}

.markdown h3
{
	margin-top: 15px;
}

.examples > tbody > tr > td:first-child { padding-right:20px }
